* {
	margin: 0;
	padding: 0;
} 
  
html {
	background-color: black;
	/* can't select text */
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */  
}

body {
	background-color: black;
	height: 700px;
	width: 1200px;
	margin-left: 50vw;
	margin-top: 50vh;
	transform: translate(-50%,-50%);
	overflow: hidden;
	z-index: -1;
}


#importExport {
	border: 3px solide black;
	background-color: grey;
	z-index: 100;
	position: absolute;
	padding: 5px;
	top: 100px;
	left: 400px;
	width: 500px;
	height: 450px;
}

#closeImportExport {
	position: absolute;
	bottom: 2px;
	right: 2px;
	width: 150px;
	height: 30px;
	background-color: white;
	border: 3px solid black;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	color: red;
}

#infoImportExport {
	position: absolute;
	bottom: 2px;
	left: 3px;
	width: 300px;
	height: 30px;
	background-color: white;
	border: 3px solid black;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	color: green;
}

.hidden {
	display: none;
}

.notHidden {
	display: inline-block;
}